
<%- include("partials/header"); -%>

    <h1>Home</h1>
    <p> <%= startingContent %> &#128516 </p>

  <% const arr= posts; %>
  <%  arr.forEach(function(post){ %>

    <h3><%=post.title%></h3>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post.title%>">Read More</a>
    </p>


    <% }) %>
<%- include("partials/footer"); -%>
